
a {  
    text-decoration: none;
    color: cornsilk;
}
body {
    background-image: url(./Go-Vegan-Shutterstock.jpg);
    color: white;

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

#content {
  
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    color: black;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gold;
}
#header a {
    cursor: pointer;
}
#header h1 {
    font-size: 50px;
}
#headerContent {
    background-color: green;
    width: 100%;
   
display: flex;
justify-content: space-between;
}
#headerContent a {
    font-size: 40px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#main {
    width: 90%;
  
  
   background-image: url(../src/DSC03357.jpg);
   background-repeat:no-repeat;
   background-size: 100% auto;
background-position: center center;


  
}



.homeInfo {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 30px;
    padding: 40px;
   text-align: center;
    
    

}

#footer {
    
    background-color: rgba(0, 0, 0, .5);
    margin-top: 20px;
}



.dish {
    background-color: rgba(0, 0, 0, .5);
    margin: 50px;
    display: flex;
    align-items: center;
}

.img {

    width: 100px;
    height: 100px;
}

.dishInfo {

    margin-left: 10px;
    font-size: 30px;

}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}